<footer>
  <div>
    <small>
      <p>A project for <a href="https://www.theodinproject.com/lessons/node-path-nodejs-mini-message-board">https://www.theodinproject.com/lessons/node-path-nodejs-mini-message-board</a></p>
    </small>
  </div>
</footer>