<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css" />
  <title>Add message</title>
</head>
<body>
  <%- include('navbar', { links }) %>
  <h1>Add a new message</h1>
  <div class="container container-full">
    <div class="box">
      <form method="POST" action="/new">
        <p>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required />
        </p>
        <p>
          <label for="message">Message:</label><br />
          <textarea id="message" name="message" rows="5" required></textarea>
        </p>
        <p>
          <button class="button" type="submit">Submit</button>
        </p>
      </form>
    </div>
  </div>
  <%- include('footer') %>
</body>
</html>